<ul class="nav justify-content-end">
    <li class="nav-item">
        <a class="nav-link active" href="/dashboard">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/profiles/update">Profile</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Categories
    </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% if(category) { %>
                <% category.forEach(m => { %>
                    <li>
                        <a class="dropdown-item" href="/categories/<%-m.name%>">
                            <%-m.name%>
                        </a>
                    </li>

                    <% }) %>
                        <% } %>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/products">Add Post</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/categories">Add Categories</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/products/draft">Draft</a>
    </li>
    .;
    <li class="nav-item">
        <a class="nav-link" href="/products/public">Public</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/users/logout">Logout</a>
    </li>
</ul>

<h1 class="mt-4">Detail Page</h1>

<table class="table table-sm-4">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Details</th>
            <th scope="col">Other</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Tiltle</th>
            <td>
                <%-post[0].title%>
            </td>
            <td>
                <a type="button" href="/details/update/<%-post[0]._id%>" class="btn btn-danger">Edit</a
        >
      </td>
    </tr>
    <tr>
      <th scope="row">Description</th>
      <td><%-post[0].description%></td>
      <td>
        <a
          type="button"
          href="/details/update/<%-post[0]._id%>"
          class="btn btn-danger"
          >Edit</a
        >
      </td>
    </tr>
    <tr>
      <th scope="row">Content</th>
      <td><%-post[0].content%></td>
      <td>
        <a
          type="button"
          href="/details/update/<%-post[0]._id%>"
          class="btn btn-danger"
          >Edit</a
        >
      </td>
    </tr>
    <tr>
      <th scope="row">Status</th>
      <td><%-post[0].status%></td>
      <td>
        <a
          type="button"
          href="/details/update/<%-post[0]._id%>"
          class="btn btn-danger"
          >Edit</a
        >
      </td>
    </tr>
    <tr>
      <th scope="row">Author</th>
      <td><%-post[0].author%></td>
      <td>
        <a
          type="button"
          href="/details/update/<%-post[0]._id%>"
          class="btn btn-danger"
          >Edit</a
        >
      </td>
    </tr>
    <tr>
      <th scope="row">Image</th>
      <td>
        <div class="ui small stackable images">
          <img src="<%= post[0].coverImagePath %>" class="ui image" alt="" />
        </div>
      </td>
      <td>
        <a
          type="button"
          href="/details/update/<%-post[0]._id%>"
          class="btn btn-danger"
          >Edit</a
        >
      </td>
    </tr>
    <tr>
      <th scope="row">Category</th>
      <td><%-post[0].category%></td>
      <td>
        <a
          type="button"
          href="/details/update/<%-post[0]._id%>"
          class="btn btn-danger"
          >Edit</a
        >
      </td>
    </tr>
    <tr>
      <th scope="row">Date</th>
      <td><%-new Intl.DateTimeFormat('pt-PT').format(post[0].date)%></td>
      <td>
        <a
          type="button"
          href="/details/update/<%-post[0]._id%>"
          class="btn btn-danger"
          >Edit</a
        >
      </td>
    </tr>
  </tbody>
</table>